@model MyGardenWEB.Data.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване на продукт</h1>

<h3>Сигурни ли сте, че искате да изтриете този продукт?</h3>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Българско наименование</label>
            @* @Html.DisplayNameFor(model => model.BulgarianName) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BulgarianName)
        </dd>
        <dt class = "col-sm-2">
            <label>Латинско наименование</label>
@*             @Html.DisplayNameFor(model => model.LatinName)
 *@        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatinName)
        </dd>
        <dt class = "col-sm-2">
            <label>Размер</label>
@*             @Html.DisplayNameFor(model => model.Size)
 *@        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            <label>Описание</label>
@*             @Html.DisplayNameFor(model => model.Description)
 *@        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <label>Снимка</label>
@*             @Html.DisplayNameFor(model => model.PhotoURL)
 *@        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.PhotoURL)" height="200" width="300"/>
        </dd>
        <dt class = "col-sm-2">
            <label>Цена</label>
@*             @Html.DisplayNameFor(model => model.Price)
 *@        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            <label>Регистрация</label>
@*             @Html.DisplayNameFor(model => model.RegisterOn)
 *@        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterOn)
        </dd>
        <dt class = "col-sm-2">
            <label>Категория</label>
@*             @Html.DisplayNameFor(model => model.Categories)
 *@        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Връщане назад</a>
    </form>
</div>
