@model MyGardenWEB.Data.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете? </h3>
<div>
    <h4>Поръчка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Products)
            *@ Продукт
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.BulgarianName)
        </dd>
        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Clients)
            *@       Клиент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.UserName)
        </dd>
        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Quantity)
            *@ Количество
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Quantity)
            *@ Единична цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Price)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Връщане назад</a>
    </form>
</div>
