@model MyGardenWEB.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли за поръчката</h1>

<div class="product">
    <div class="product_info">
        <label>Продукт: </label>@Html.DisplayFor(model => model.Products.BulgarianName)  /@Html.DisplayFor(model => model.Products.LatinName)/ <br />
        <label>Размер: </label> @Html.DisplayFor(model => model.Products.Size) <br />
        <label>Единична цена: </label> @Html.DisplayFor(model => model.Products.Price) лв.<br />
        <label>Количество: </label>@Html.DisplayFor(model => model.Quantity)<br />
        <label>Клиент: </label>@Html.DisplayFor(model => model.Clients.UserName)<br />

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактиране</a> |
    <a asp-action="Index">Връщане назад</a>
</div>
